$coba-yellow: #FFC931;
$coba-danger-red: #861F08;
$coba-success-green: #09431e;
$coba-text-color: #2C2C2C;
$coba-black: #000;
$coba-white: #fff;
$coba-gray: #EBEBEB;
$coba-dark-gray: #8C8C8C;
$coba-disabled-gray: #757575;

$coba-green: #4ABE5D;
$coba-red: #FF6666;
$coba-orange: #FFAD33;

$navbar-height: 52px;

$very-small: 10px;
$small: 25px;
$medium: 50px;
$big: 100px;
$very-big: 200px;
