


/* NAVBAR */
.coba-navbar {
    background-color: #505050;
    height: $navbar-height;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    z-index: 5;


    .router-link-active {
        color: yellow;
        text-decoration: none;
    }
}

.coba-page {
    padding-bottom: $navbar-height;
    height: 100%;
/*    display: flex;
    flex-direction: row;*/
    &.coba-page-no-header {
        padding-top: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    &.coba-page-lower-padding{
        padding-top: 50%;
    }
}

.coba-home-icons-container{

    height: 85px;
    width: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    flex-direction: column;
    color: $coba-disabled-gray;
}

.coba-home-icons{
    margin-bottom: 15px;
}

.coba-full-width {
    width: 100%;
}
.coba-container {
    padding: 20px;
}
.coba-no-top-padding{
    padding: 0%;
}
.coba-footer-container {
    background-color: $coba-gray;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: scroll;
}
[class*="coba-flex"] {
    display: flex;
    justify-content: center;
    align-items: center;

    &[class*="wrap"] {
        flex-wrap: wrap;
    }
    &[class*="column"] {
        flex-direction: column;
    }
    &[class*="space-evenly"] {
        justify-content: space-evenly;
    }
    &[class*="space-between"] {
        justify-content: space-between;
    }
    &[class*="left"] {
        justify-content: flex-start;
    }
    &[class*="right"]{
        justify-content: flex-end;
    }
}



/* HEADER */
.coba-header {
    height: 219px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $coba-dark-gray;
    color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 20px;

    .coba-page-headline {
        font-size: 35px;
    }

    &.coba-header-accent {
        background-color: $coba-yellow;
    }
    &.coba-header-square {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: 166px;
        justify-content: flex-start;
        align-items: flex-end;

        .coba-page-headline {
            font-size: 30px;
        }
    }
}
/* CUSTOM HEADER for HOMESCREEN */
.coba-homescreen {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .coba-header {
        height: 100px;
        background: none;
        text-align: left;
        display: block;
        padding-top: 25px;
        margin-bottom: 0;

        .coba-page-headline {
            font-size: 24px;
            color: $coba-text-color;
        }
    }
    .coba-container {
        flex-grow: 1;
    }
    .coba-footer-container {
        flex-grow: 10;
    }
}
.coba-headline {
    font-size: 23px;
    color: $coba-text-color;
    border-bottom: 1px solid $coba-dark-gray;
    text-align: center;
}


/* BUTTON Styles */
.coba-button {
    background-color: $coba-gray;
    color: $coba-text-color;
    border-radius: 25px;
    border: 1px solid $coba-dark-gray;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 10px 0;

    &.coba-button-half-width {
        width: 50%;
        margin: 0 auto;
    }
    &.coba-button-accent{
        background-color: $coba-yellow;
    }
    &.coba-button-danger{
        background-color: $coba-danger-red;
        color: $coba-gray;
    }
    &.coba-button-green {
        background-color: #4ABE5D;
    }
    &.coba-button-red {
        background-color: #FF6666;
    }
    &.coba-button-orange {
        background-color: #FFAD33;
    }
    &.coba-button-white{
        background-color: $coba-white;
    }
    &.coba-button-no-border {
        border: none;
    }
    &.coba-button-yellow-border{
        border-color: $coba-yellow;
    }
    &.coba-button-big {
        height: 75px;
    }
    &.coba-button-very-big {
        height: 100px;
    }
    &.coba-button-round {
        height: 50px;
        width: 50px;
        border-radius: 25px;
        &.coba-button-very-small {
            height: 20px;
            width: 20px;
            border-radius: 10px;
            font-size: 15px;
            margin: 5px 5px;
        }
        &.coba-button-small {
            height: 40px;
            width: 40px;
            border-radius: 20px;
        }
        &.coba-button-normal {
            height: 60px;
            width: 60px;
            border-radius: 60px;
        }
        &.coba-button-big {
            height: 75px;
            width: 75px;
            border-radius: 75px;
        }
        &.coba-button-very-big {
            height: 100px;
            width: 100px;
            border-radius: 100%;
        }
        &[class*="coba-button-arrow"] {
            content: '\21B5';
            color: $coba-black;
            transform: rotate(180deg);
        }
    }
    &:focus {
        outline: none;
        box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    }
    &.coba-button-disabled {
        border: 1px solid $coba-disabled-gray;
        color: $coba-disabled-gray;
    }
    &.coba-button-distance-left-10{
        margin-left: 10px;
    }
}

/*In a Button container all buttons will be listed next to each other */

.coba-button-container {
    display: flex;

    .coba-button {
        margin: 0 10px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

/* CALENDER SIDEBAR */

.coba-calander-wrapper{
    background-color: rgba(0,0,0,0.5);top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.coba-calander-container {

        .coba-calendar-sidebar-content{
            position: absolute;
            top: 0;
            right: 0;
            background-color: #333333;
            width: 60%;
            height: 93%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: revert;

            .coba-calendar-sidebar-header{
                border-bottom: 2.5px solid #fff;
                color: #fff;
                padding: 2px;
                margin-bottom: 15px;
                margin-top: 15px;
                width: 97%;
                display: flex;
                justify-content: flex-start;
                font-size: larger;
            }

            .coba-calendar-sidebar-medium-header{
                margin-top: 0;
                margin-bottom: 18px;
                color: white;
                border-bottom: 2.5px solid #fff;

            }
            .coba-calendar-sidebar-small-header{
                border-bottom: 1.7px solid #fff;
                color: #fff;
                font-size: 15px;
                margin-top: 10px;
                margin-bottom: 8px;
                margin-right: 64%;
            }
            ul{
                align-self: flex-start;
                color: $coba-white;
            }

        }
    }



/* DROP DOWN Styles */

.coba-dropdown-container {
    text-align: right;
}

.coba-dropdown-container .coba-dropdown-wrapper {
    position: absolute;
    bottom: -30px;
    right: 0px;
    padding-right: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 1;
}

.coba-dropdown-container .coba-dropdown-wrapper .coba-dropdown-content {
    background-color: #fff;
    padding: 7px 10px;
    text-align: left;
    border-radius: 10px;
}


/* INPUT Styles */
.coba-input-container{
    width: 95%;
    margin: 0 auto;
    text-align: left;
}
.coba-margin-top{
    margin-top: 3px;
}
.coba-margin-bottom{
    margin-bottom: 10px;
}
// Input Feld welches eine dunklere Linie (unten) hat und einen hellen Hintergrund
.coba-input {
    font-size: 16px;
    height: 30px;
    width: 100%;
    margin: 5px 0;
    padding: 18px;
    padding-left: 5px;
    padding-bottom: 16px;
    background: #f9f8f8;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 1px solid $coba-dark-gray;
}


/* FORM Styles */
.coba-form{
    text-align: center;
}

.coba-form-danger {
    background-color: $coba-danger-red;
    color: white;
}



/* Text Styles */
.coba-text {
    font-size: 14px;
    color: $coba-text-color;
}
.coba-text-strong {
    font-weight: bold;
}
.coba-text-normal {
    font-weight: normal;
}
.coba-text-small {
    font-size: 10px;
}
.coba-text-medium {
    font-size: 16px;
}
.coba-text-big {
    font-size: 18px;
}
.coba-text-bigger{
    font-size: 20px;
}
.coba-text-very-big {
    font-size: 24px;
}
.coba-text-very-bigger{
    font-size: 30px;
}
.coba-text-underlined {
    text-decoration: underline;
}
.coba-text-center {
    text-align: center;
}
.coba-text-danger {
    color:$coba-danger-red;
}
.coba-text-success {
    color:$coba-success-green;
}
.coba-text-centered{ /* the text will be shown in the center --> good when you have more than one text in your container*/
    color: $coba-text-color;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.coba-text-centered-button{
        text-decoration: underline;
    }
}

/* LIST */
.coba-list {
    font-size: 14px;
    color: $coba-text-color;
    padding-left: 20px;
    list-style: none; /* Remove default bullets */

    li::before {
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $coba-yellow; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
    }

    li {
        padding: 10px 0;
    }

    &.coba-big-list {

    }
}

.coba-list-nobullets {
    font-size: 14px;
    color: #2C2C2C;
    padding-left: 0px;
    list-style: none;
    /* Remove default bullets */
}

.coba-list-nobullets li::before {
    content: none;
}

.coba-list-nobullets li.last {
    border-bottom: none;
}

.coba-list-nobullets li {
    padding: 2px 0;
    border-bottom: 1px solid #EBEBEB;
}

.coba-list-nobul-nobor {
    font-size: 14px;
    color: #2C2C2C;
    padding-left: 0px;
    list-style: none;
}

    .coba-list-nobul-nobor li::before {
        content: none;
    }

    .coba-list-nobul-nobor li.last {
        border-bottom: none;
    }

    .coba-list-nobul-nobor li {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 3px;
    }




/* MODAL Style */
.coba-modal-mask {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
}
.coba-modal {
    margin-top: 100px;
    background-color: $coba-gray;
    width: 80%;
    min-height: 200px;
    padding: 20px;

    .coba-modal-header {
        font-size: 24px;
        border-bottom: 1px solid $coba-dark-gray;
        text-align: center;
        color: $coba-text-color;
    }
    .coba-modal-body {
        padding: 20px 0;
    }
    .coba-modal-footer {

    }
}

/* Little Indicator Circles */
.coba-utilization-indicator-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.coba-utilization-indicator {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    background-color: $coba-gray;

    &.coba-utilization-indicator-selected {
        border: 2px solid $coba-dark-gray;
    }
    &.coba-utilization-indicator-selected-green {
        background-color: $coba-selected-green !important;
        font-weight: bold;
        border: 2px solid $coba-selected-green-border;
    }
    &.coba-utilization-indicator-selected-orange {
        background-color: $coba-selected-orange !important;
        font-weight: bold;
        border: 2px solid $coba-selected-orange-border;
    }

    &.coba-utilization-indicator-big {
        width: 40px;
        height: 40px;
    }
    &.coba-utilization-indicator-small {
        width: 20px;
        height: 20px;
    }
    &.coba-utilization-indicator-gray {
        background-color: $coba-gray;
    }
    &.coba-utilization-indicator-green {
        background-color: #4ABE5D;
    }
    &.coba-utilization-indicator-red {
        background-color: #FF6666 !important;
        pointer-events: none;
    }
    &.coba-utilization-indicator-orange {
        background-color: #FFAD33; //#ffb950 heller
    }
    &.coba-utilization-indicator-disabled, {
        color: $coba-disabled-gray;
        background-color: $coba-gray;
        pointer-events: none;
    }

    &[class*="coba-utilization-indicator-arrow"] {
        content: '\27A4';
        background-color: transparent;

        &.coba-utilization-indicator-arrow-next {
            margin-right: -30px;
        }
        &.coba-utilization-indicator-arrow-prev {
            transform: rotate(180deg);
            margin-left: -30px;
        }
    }
}

/* TABLE Styles */
.coba-table {
    width: 100%;

    th {
        font-weight: normal;
    }
    tr {
        padding: 0 20px;
    }
    .coba-table-align-right {
        text-align: right;
    }
}

/* Border Styles */
.coba-border-yellow {
    border: 2px solid $coba-yellow;
}
.coba-border-orange {
    border: 2px solid $coba-orange;
}

.coba-border-rounded {
    border-radius: 10px;
}
.coba-border-round {
    border-radius: 50%;
}


/* Shadow Styles */
.coba-shadow {
    box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.2);
}


/* TAB Navigation */
.coba-tab-navigation {
    height: 40px;
    width: 100%;
    display: flex;

    .coba-tab {
        border-bottom: 1px solid $coba-dark-gray;
        border-left: 1px solid $coba-dark-gray;
        border-right: 1px solid $coba-dark-gray;
        font-size: 20px;
        color: $coba-disabled-gray;
        background-color: $coba-gray;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        &.selected {
            border-bottom: 1px solid $coba-gray;
            border-left: 1px solid $coba-gray;
            border-right: 1px solid $coba-gray;
            color: $coba-text-color;
            background-color: $coba-white;
            align-items: center;
        }
    }
}
