name: Deploy PHP to Azure Web App

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# CONFIGURATION
# For help, go to https://github.com/Azure/Actions
#
#
# 2. Change these variables for your configuration:
env:
  AZURE_WEBAPP_NAME: tu-coba    # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: '.'      # set this to the path to your web app project, defaults to the repository root

jobs:
  build-and-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - name: 'Deploy to Azure WebApp'
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}



